/*

*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');t url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;

div {
    background-color: gray;
}

h1{
    color: rgb(32, 57, 94);
}

#cuadroPrincipal {}


}

.campo{
    color: lawngreen;


}
body{
    background-color: rgb(255, 196, 0)
    ;



